:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a59696;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  position: absolute;
  top: 10%;
  font-size: 3.2em;
  line-height: 1.1;
  margin: auto;
}

button {
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto;
}

.show-tasks{
  position: absolute;
  top: 10%;
  right: 5%;
  border: solid rgb(164, 104, 104);
}

.task-form{
  position: absolute;
  top: 10%;
  left: 4%;
}

.tasks-list{
  display: flex;
  align-items: center;
}

h2 {
  position: absolute;
  top: 10%;
  font-size: 2.2em;
  line-height: 1.1;
  margin: 100px auto;
}